<h1>Index page</h1>
<p>
  Masatora Akutsu vừa mới chuyển đến một lớp học ở Nhật Bản sau khi trải qua một
  chặng đường dài, con đường tiến thẳng từ Địa ngục, chính xác là thế. Akutsu là
  con quỷ được phái xuống Trái Đất để tìm một người có thể thúc đẩy các đội quân
  của Địa Ngục để chống lại Đạo binh xâm lược của các Thiên thần. Anh chàng đã
  ngay lập tức quan sát từng bạn học trong lớp, cho đến lúc cô gái vừa xinh đẹp
  vừa tốt bụng Lily Amane lọc vào mắt xanh anh chàng, nhưng cuối cùng mọi sự khi
  vượt quá dự tính của cậu khi Lily lộ ra bí mật riêng của chính mình!
</p>
